@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 antialiased font-sans;
  }
  
  /* --- Hide Input Spin Buttons (Up/Down arrows) --- */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

/* ────────────────────────────────────────────────────────────────
   Minimal, Subtler Scrollbar for Chromium Browsers
   ──────────────────────────────────────────────────────────────── */
@layer components {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent; 
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent; 
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #71717a; 
    }
}